
# Backend
backend/.venv
backend/__pycache__
backend/artifacts/*.pdf
backend/artifacts/*.mp4
backend/.env
**/__pycache__/
*.pyc

# Frontend
frontend/.next
frontend/node_modules
frontend/.env
frontend/out
frontend/build

# IDE
.vscode
.idea
*.log